html, body {
    margin: 0;
    background-color: rgb(240, 240, 240);
}

.container {
    width: 100vw;
    height: 100vh;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 139, 139, 0.2);
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 139, 139, 0.8);
}

.sidebar {
    width: 270px;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgb(220, 220, 220);
    padding-left: 5px;
    float: left;
}

.personname {
    font-family: Tahoma, sans-serif;
    color: rgb(0, 139, 139);
    font-size: 16pt;
    line-height: 150%;
    
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.letterindicator {
    font-family: Tahoma, sans-serif;
    color: rgb(0, 139, 139);
    font-weight: bold;
    font-size: 18pt;
}

.content {
    overflow-y: scroll;
    
    padding: 20px 20px;
}

.nameinfo {
    font-family: Tahoma, sans-serif;
    color: rgb(0, 139, 139);
    font-weight: bold;
    font-size: 20pt;
}

.picture {
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

.infobox {
    width: 100%;
    max-width: 500px;
    
    display: grid;
    grid-template-columns: 200px auto;
    grid-auto-flow: column;
    
    
    &__info {
        &--attribute {
            font-family: Tahoma, sans-serif;
            color: rgb(0, 139, 139);
            font-size: 16pt;
            font-weight: bold;
        }
        &--value {
            font-family: Tahoma, sans-serif;
            color: rgb(0, 139, 139);
            font-size: 16pt;
        }
    }
}